@page "/"
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Internal
@using Models = TaskManagerApp.Models;
@using TaskManagerApp.Data
@inject IDbContextFactory<TaskManagerAppContext> DbFactory

<PageTitle>Task Manager App</PageTitle>
<h1>Welcome to Task Manager App!</h1>
<h2>Please <a href="identity/account/account">login</a> to manage your tasks.</h2>