@page "/"
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Internal
@using Models = TaskManagerApp.Models;
@using TaskManagerApp.Data
@inject IDbContextFactory<TaskManagerAppContext> DbFactory

<PageTitle>Task Manager App</PageTitle>
<h1>Welcome to Task Manager App!</h1>
<AuthorizeView>
    <Authorized>
        Hi @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        <h2>Please <a href="identity/account/login">login</a> to manage your tasks.</h2>
    </NotAuthorized>
</AuthorizeView>